[user]
	email = zein.barhoum799@gmail.com
	name = Zein Alabedeen Barhoum
[includeIf "gitdir:~/"]
    path = ~/.gitconfig.local
[pull]
	rebase = false
[init]
	defaultBranch = master
[alias]
    # compied from tjdevries
    # Thanks r00k, this creates a pretty graph view of the log
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[credential]
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
